﻿<!DOCTYPE html>
<html lang="en" ng-app="citiBike">
<head>
    <title>Citi Bike</title>
    <base href="/CitiBike/" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="content/angular-material.min.css">
    <link rel="stylesheet" href="app/app.min.css">
    <META name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body ng-cloak ng-controller="shellController as ctrl">
    <div layout="column" tabindex="-1" role="main" flex="" class="layout-column flex">
        <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Navigation" ng-click="ctrl.menu.open()">
                    <md-icon md-svg-icon="img/menu.svg" style="fill: lightgray;"></md-icon>
                </md-button>
                <h2 style="vertical-align: middle;">
                    <span>Citi Bike - {{ctrl.currentView}} Report&nbsp;&nbsp;</span>
                </h2>
                <span flex></span>
                <img class="md-avatar"  />
            </div>
        </md-toolbar>
    </div>
    <md-sidenav class="md-sidenav-left md-whiteframe-3dp" md-component-id="left">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools" style="margin-top: 20px; margin-bottom: 20px">Reports</h1>
        </md-toolbar>
        <md-content>
            <md-list flex>
                <md-list-item class="md-2-line md-checked" ng-click="ctrl.currentView = 'Availability'" ng-class="{'md-list-active': ctrl.currentView == 'Availability'}">
                    <img class="md-avatar" alt="Availability"/>
                    <div class="md-list-item-text" layout="column">
                        <h3>Availability Report</h3>
                        <p>Bike Availability by Date &amp; Station</p>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line md-checked" ng-click="ctrl.currentView = 'Weather'" ng-class="{'md-list-active': ctrl.currentView == 'Weather'}">
                    <img class="md-avatar" alt="Weather" />
                    <div class="md-list-item-text" layout="column">
                        <h3>Weather Report</h3>
                        <p>Ridership vs Inclement Weather</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-content>
        <div ng-view style="margin: 4px" ></div>
    </md-content>
</body>
</html>
<script src="scripts/jquery.min.js"></script>
<script src="scripts/lodash.min.js"></script>
<script src="scripts/angular.min.js"></script>
<script src="scripts/angular-route.min.js"></script>
<script src="scripts/angular-animate.min.js"></script>
<script src="scripts/angular-aria.min.js"></script>
<script src="scripts/angular-messages.min.js"></script>
<script src="scripts/angular-material.min.js"></script>
<script src="app/app.min.js"></script>
<script src="app/configuration.min.js"></script>
<script src="app/shellController.min.js"></script>
<script src="app/monthSelector.min.js"></script>
<script src="app/reportController.min.js"></script>
<script src="app/weatherController.min.js"></script>
<script src="app/availabilityController.min.js"></script>