﻿<div>
    <month-selector year="2015" month="ctrl.month" loading="ctrl.isLoading">
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Day</label>
                <md-select ng-model="ctrl.day" ng-disabled="ctrl.isLoading">
                    <md-option ng-repeat="day in ctrl.days track by $index" value="{{day}}">
                        {{day}} ({{ctrl.getDayOfWeek(day)}})
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </month-selector>
    <div ng-if="!ctrl.isLoading">
        <div layout="row" style="margin-left: auto; margin-right: auto; max-width: 650px">
            <span style="vertical-align:bottom; white-space:nowrap">Hour - {{ctrl.hourDisplay || '12:00 AM'}}&nbsp;&nbsp;</span>
            <md-slider min="0" max="23" ng-model="ctrl.hour" aria-label="Hour" id="hr-slider" flex style="margin-top:-16px"></md-slider>
        </div>
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">Summary</div>
        </md-toolbar>
        <div layout="column" flex layout-fill style="border: 1px solid gray; max-height: 600px; overflow-y: scroll">
            <section>
                <md-list layout-padding>
                    <md-list-item class="md-2-line" ng-repeat="datum in ctrl.stationData track by $index">
                        <img class="md-avatar" alt="{{ctrl.getStationName(datum.stationId)}}">
                        <div class="md-list-item-text">
                            <h3>{{ctrl.getStationName(datum.stationId)}}</h3>
                            <h4>{{datum.bikes}} Bikes / {{ctrl.getStationCapacity(datum.stationId)}} Capacity</h4>
                        </div>
                    </md-list-item>
                </md-list>
            </section>
        </div>
    </div>
</div>