﻿<form name="top">
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Month</label>
            <md-select ng-model="mc.monthIndex" ng-disabled="loading">
                <md-option ng-repeat="month in mc.monthNames track by $index" value="{{$index}}">
                    {{month}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Year</label>
            <input value="{{year}}" readonly="readonly">
        </md-input-container>
    </div>
    <ng-transclude></ng-transclude>
</form>
<div class="container" ng-if="loading"
     style="background-color: lightgoldenrodyellow; border: solid 1px rgb(63,81,181); margin-left: auto; margin-right: auto; width: 400px">
    <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    <div style="margin: 3px">
        <span>Loading data...</span>
    </div>
</div>