﻿<div>
    <month-selector year="2015" month="ctrl.month" loading="ctrl.isLoading"></month-selector>
</div>
<div ng-if="!ctrl.isLoading">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">Summary</div>
    </md-toolbar>
    <div style="border: 1px solid gray">
        <form name="report">
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Days in Month</label>
                    <input value="{{ctrl.daysInMonth | number}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Total Rides</label>
                    <input value="{{ctrl.data.totalRides | number}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Avg. Rides / Day</label>
                    <input value="{{ctrl.data.averageRidesPerDay | number:3}}" readonly="readonly">
                </md-input-container>
            </div>
            <div layout-gt-xs="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Normal Days</label>
                    <input value="{{ctrl.data.normalDays | number}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Normal Day Rides</label>
                    <input value="{{ctrl.data.normalDayRides | number}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Avg. Rides / Normal Day</label>
                    <input value="{{(ctrl.data.normalDays == 0 ? 0 : (ctrl.data.normalDayRides / ctrl.data.normalDays)) | number:3}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Normal Day Miles</label>
                    <input value="{{ctrl.data.normalDayMiles | number:3}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Avg. Miles / Normal Day Ride</label>
                    <input value="{{(ctrl.data.normalDayRides == 0 ? 0 : (ctrl.data.normalDayMiles / ctrl.data.normalDayRides)) | number:3}}" readonly="readonly">
                </md-input-container>
            </div>
            <div layout-gt-xs="row" ng-if="ctrl.data.rainDays">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Rain Days</label>
                    <input value="{{ctrl.data.rainDays | number}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Rain Day Rides</label>
                    <input value="{{ctrl.data.rainDayRides | number}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Avg. Rides / Rain Day</label>
                    <input value="{{(ctrl.data.rainDays == 0 ? 0 : (ctrl.data.rainDayRides / ctrl.data.rainDays)) | number:3}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Rain Day Miles</label>
                    <input value="{{ctrl.data.rainDayMiles | number:3}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Avg. Miles / Rain Day Ride</label>
                    <input value="{{(ctrl.data.rainDayRides == 0 ? 0 : (ctrl.data.rainDayMiles / ctrl.data.rainDayRides)) | number:3}}" readonly="readonly">
                </md-input-container>
            </div>
            <div layout-gt-xs="row" ng-if="ctrl.data.snowDays">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Snow Days</label>
                    <input value="{{ctrl.data.snowDays | number}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Snow Day Rides</label>
                    <input value="{{ctrl.data.snowDayRides | number}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Avg. Rides / Snow Day</label>
                    <input value="{{(ctrl.data.snowDays == 0 ? 0 : (ctrl.data.snowDayRides / ctrl.data.snowDays)) | number:3}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Snow Day Miles</label>
                    <input value="{{ctrl.data.snowDayMiles | number:3}}" readonly="readonly">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Avg. Miles / Snow Day Ride</label>
                    <input value="{{(ctrl.data.snowDayRides == 0 ? 0 : (ctrl.data.snowDayMiles / ctrl.data.snowDayRides)) | number:3}}" readonly="readonly">
                </md-input-container>
            </div>
        </form>
    </div>
    <md-toolbar>
        <div class="md-toolbar-tools">Daily Data</div>
    </md-toolbar>
    <div layout="column" flex layout-fill style="border: 1px solid gray; height: 225px; overflow-y: scroll">
        <section>
            <md-list layout-padding>
                <md-list-item class="md-3-line" ng-repeat="datum in ctrl.data.data">
                    <img class="md-avatar" alt="{{datum.dateId % 100}}">
                    <div class="md-list-item-text">
                        <h3>{{ctrl.getDayOfWeek(datum.dateId % 100)}} {{ctrl.data.monthName}} {{datum.dateId % 100}}</h3>
                        <h4>{{datum.rides | number}} Rides / {{datum.miles | number:3}} Miles</h4>
                        <p>Inclement Weather: {{datum.weatherType}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </section>
    </div>
</div>